body {
    width: 1200px;
    height: 100%;
    margin: 0 auto;
    font-family: 'Georgia Regular';
}
header,main,footer {
    width: 100%;
}
.cursus {
    width: 80%;
    margin-left: 120px;
}
.four-columns,.copyright-item,.the-modernist {
    width: 80%;
}
.section-cursus {
    height: 505px;
}
.ellipse {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    margin: 0 50px 0 50px;

    .ellipse-text {
        width: 330px;

        > p {
            line-height: 20px;
            color: rgb(153,153,153);
        }
    }
}

.section-service-title {
    height: 48%;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;

    .service-title-item{
        width: 80%;

        .service-title-block {
            display: flex;
            justify-content: space-between;
            flex-wrap: wrap;

            .image-container {
                margin-top: 20px;
            
                &:hover > .service-title-visible{
                    display: none;
                   }
                &:hover > .service-title-hover{
                    display: block;
                }
            
                .service-title-hover {
                    display: none;
                } 
            }
        }
    }
}

.box-latest-work {
    height: 85px;
    padding-top: 35px;

    .latest-work {   
        width: 100%;
        height: 50px;
        position: relative;

        &::after,&::before{
            content: "";
            position: absolute;
            margin: auto;
            height: 4px;
            background-color: rgb(51, 51, 51);
            width: 37%;
            top: 45%; 
        }

        &::after {
            left: 0;
        }

        &::before{
            right: 0;
        }

        .text-latest-work {
            display: flex;
            justify-content: center;
            align-items: center;
            position: relative;
            z-index: 2;
            height: 50px;
            width: 260px;
            background-color: rgb(51, 51, 51);
            border-radius: 10px;
            text-transform: uppercase;
            color: rgb(255, 255, 255);
            margin: auto;
        }
    }
}

.section-gray-block{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    flex-direction: row;

    .gray-block {
        display: flex;
        align-items: flex-end;
        justify-content: center;
        width: 300px;
        height: 200px;
        background-color: rgb(51, 51, 51);
        outline: 6px solid rgb(255, 255, 255);
        cursor: pointer;
        margin: 0 0 30px 0;
    
        .lorem-ipsum {
            height: 25px;
            width: 100%;
            padding-top: 10px;
            text-align: center;
            color: white;
            background-color: black;
            visibility: visible;
        }
    
        &:hover {
            outline: 6px solid rgb(102, 204, 153);
            
            & >.lorem-ipsum {
                visibility: hidden;
            }
        }
    
    }
}

.carousel-control-prev {
    &.custom {
        width: 16px;

        .carousel-control-prev-icon {
            &.custom {
              background-image: url(../images/leftArrow.png);
              width: 16px;
              height: 30px;
            }
        }
    }
}


.carousel-control-next {
    &.custom {
        width: 16px;

        .carousel-control-next-icon {
            &.custom {
            background-image: url(../images/rightArrow.png);
            width: 16px;
            height: 30px;
            }
        }
    }
}
