header,.section-cursus {
    background-color: rgb(51, 0, 0);
}
.section-service-title {
    background-color: rgb(102, 0, 0);
}
footer {
    background-color: rgb(51, 51, 51);
    color: rgb(153, 153, 153);
}
.the-modernist,.section-cursus,button{
    color: rgb(255,255,255);
}
.white-color {
    color: rgb(255,255,255);
}
.green-color {
    color: rgb(102, 204, 153);
}
.gray-color {
    color: rgb(153, 153, 153);
}
button {
    background-color: rgb(51, 0, 0);
    height: 39px;
    border-radius: 10px;
    border: none;
    cursor: pointer;
}
button#readMore {
    background-color: rgb(102, 204, 153);
    width: 145px;
}
