@font-face {
    font-family: 'Georgia Regular';
    src: url('/src/font/georgiaRegular/Georgia.eot');
    src: url('/src/font/georgiaRegular/Georgia.eot') format('embedded-opentype'),
    url('/src/font/georgiaRegular/Georgia.woff') format('woff'),
    url('/src/font/georgiaRegular/Georgia.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
    }

.georgioRegular {
    font-family: 'Georgia Regular';
}

$sizes: 10, 11, 12, 13, 14, 16, 28, 32, 46;

@each $size in $sizes {
  .font-s-#{$size} {
    font-size: #{$size}px;
  }
}