.four-columns-block {
   display: flex;
   justify-content: center;

   .four-columns {
      display: flex;
      flex-direction: row;

      .blog > a {
         text-decoration: none;
      }

      .blog:nth-child(2){
         line-height: 12px;
      }

      .quick-links > a {
         line-height: 35px;
         text-decoration: none;
         border-bottom: solid 1px rgb(70, 70, 70);
      }
   }

  .four-columns-item {
   display: flex;
   flex-direction: column;
   width: 25%;
   padding: 10px;

      p:first-child{
         line-height: 35px;
      }

      input[type=name],[type=email],[type=text] {
         background-color: rgb(19, 18, 18);
         width: 100%;
         height: 20%;
         border-radius: 10px;
         border: none;
         margin-bottom: 10px;
         color: rgb(153, 153, 153);
     }

     input.message {
        height: 50%;
    
     }
    
     input[type=submit] {
       background-color: rgb(102, 204, 153);
       height: 35px;
       width: 75px;
       border-radius: 10px;
       border: none;
       color: rgb(51,51,51);
       cursor: pointer;
       font-family: Georgia;
       text-transform: uppercase;
      }
   }
}

.copyright {
    background-image: url("../images/bgCopyright.png");
    display: flex;
    justify-content: center;

    .copyright-item {
      display: flex;
      flex-direction: row;
      justify-content: space-between;
      height: 60px;
      align-items: center;
   }
}








 
