.green-line {
    height: 4px;
    width: 100%;
    background-color: rgb(102, 204, 153);
}

.the-modernist-block {
    width: 100%;
    display: flex;
    justify-content: center;

    .the-modernist {
        height: 110px;
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: space-between;
    
        .menu {
            width: 650px;
            display: flex;
            flex-direction: row;
            justify-content: space-between;
    
            button#menu-item {
                border: none;
                width: 100px;
    
                &:hover {
                    background-color: rgb(102, 204, 153);
                }
            }
        }

        .burger-menu {

            .burger-window {

                button#menu-item {
                    border: none;
        
                    &:hover {
                        background-color: rgb(102, 204, 153);
                    }
                }
            }

        }
    }
}

.burger-menu {
    display: none;

    .burger {
        display: flex;
        flex-direction: column;
        cursor: pointer;
    
        .line {
            width: 50px;
            height: 4px;
            background-color: rgb(153, 153, 153);
            margin-top: 6px;
        }
    }

}

.burger-window {
    display: none;
    background-color: rgb(51, 0, 0);
}

.show {
    display: block;
}

