@media screen and (max-width: 960px){

    body {
        width: 100%;
    }

    .burger-menu {
        display: block;
        display: flex;
        align-items: center;

        .burger-window {
            padding: 30px;

            button {
                width: 120px;
                white-space: nowrap;
                overflow: hidden;
                text-overflow: ellipsis;
                text-align: left;
            }
        }
    }
    .the-modernist-block {

        .the-modernist {
            justify-content: space-around;
            height: 300px;
        
            .menu {
                display: none;
            }
        }
    }

    .section-cursus {
        display: none
    }
    .section-service-title {
        
        .service-title-item {
        
            .service-title-block {
            justify-content: space-around;
            }
        } 
    }

    .section-gray-block {
        justify-content: space-around;
    }

    .four-columns {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        align-items: flex-start;

        .four-columns-item {
            width: 45%;
        }
    }
};


@media (max-width: 640px){

    .four-columns {
        display: flex;
        flex-direction: column;
        justify-content: center;
    
        .four-columns-item {
            width: 90%;
        }
    }
}; 


@media (max-width: 350px){

    .modernist-text {
            display: none;
    }     

    .burger::before {
        content: 'menu';
        text-transform: uppercase;
        color: white;
        font-size: 16px;
        font-family: 'Georgia Regular';
    }
}; 
